<ion-header class="azul">
  <ion-toolbar >
    <ion-title color="light">Editar Bitacora</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>

    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>
<br>

<ion-button class="buttonEntero" color="success">
  <ion-icon ></ion-icon>
  Aceptar
</ion-button>
<br>
<ion-button class="buttonEntero" color="danger">
  <ion-icon ></ion-icon>
  Cancelar
</ion-button>


</ion-content>
