<ion-header>
  <ion-toolbar class="azul">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
          </ion-buttons>
    <ion-title color="light">Certificar Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-item>
      <ion-label>Frenos (de estacionamiento)</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="le">Dificil de liberar</ion-select-option>
        <ion-select-option value="blonde">Sueltos o ineficaces</ion-select-option>
        <ion-select-option value="black">No se libera</ion-select-option>
        <ion-select-option value="red">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    
  <ion-item>
    <ion-label>Frenos (Mantenimiento)</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">El compreso de aire no funciona</ion-select-option>
      <ion-select-option value="blonde">Temblor,vibracion,chachara</ion-select-option>
      <ion-select-option value="black">Se arrastran</ion-select-option>
      <ion-select-option value="red">Fuga de aire</ion-select-option>
      <ion-select-option value="red">perdida de liquido</ion-select-option>
      <ion-select-option value="red">Sobrecalentamiento o funciona a alta temperatura</ion-select-option>
      <ion-select-option value="red">Gripado</ion-select-option>
      <ion-select-option value="red">Fuga La luz de advertencia no funciona</ion-select-option>
      <ion-select-option value="red">la luz de advertencia esta encendida</ion-select-option>
      <ion-select-option value="red">sueltos e ineficaces</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Dispositivo de acoplamiento</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Quinta rueda agrietada o dañada</ion-select-option>
      <ion-select-option value="blonde">Otro</ion-select-option>
    </ion-select>
  </ion-item>
     
  <ion-item>
    <ion-label>Equipo de urgencia</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Falta de extinguidor</ion-select-option>
      <ion-select-option value="blonde">El extinguidor no esta cargado</ion-select-option>
      <ion-select-option value="black">Faltan las banderas y luces de emergencia</ion-select-option>
      <ion-select-option value="red">Faltan los triangulos reflectantes</ion-select-option>
      <ion-select-option value="red">Faltan bombillas o fusibles de repuesto</ion-select-option>
      <ion-select-option value="red">Falta faro sellado de repuesto</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Bocina</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Bocina de aire inutilizable</ion-select-option>
      <ion-select-option value="blonde">Bocina electrica inutilizable</ion-select-option>
      <ion-select-option value="black">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Luces y reflectores</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Agrietado o roto</ion-select-option>
      <ion-select-option value="blonde">Mal enfocado</ion-select-option>
      <ion-select-option value="black">Intermitentes de urgencia inutilizables</ion-select-option>
      <ion-select-option value="red">Luz de freno inutilizable</ion-select-option>
      <ion-select-option value="red">Luz de cruce inutilizable</ion-select-option>
      <ion-select-option value="red">Luz interior inutilizable</ion-select-option>
      <ion-select-option value="red">intermitente de giro izquierdo inutilizable</ion-select-option>
      <ion-select-option value="red">intermitente de giro derecho inutilizable</ion-select-option>
      <ion-select-option value="red">Faltan</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Retrovisores</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Roto o agrietado</ion-select-option>
      <ion-select-option value="blonde">Mal ajustadas</ion-select-option>
      <ion-select-option value="black">Sueltas o mal instaladas</ion-select-option>
      <ion-select-option value="red">Faltan</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Direccion</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Se bloquea o se agarra</ion-select-option>
      <ion-select-option value="blonde">Gira o tira hacia la izquierda</ion-select-option>
      <ion-select-option value="blonde">Gira o tira hacia la derecha</ion-select-option>
      <ion-select-option value="black">Nivel de liquido inadecuado</ion-select-option>
      <ion-select-option value="red">Perdida de liquido</ion-select-option>
      <ion-select-option value="red">Volante flojo o con demasiado juego</ion-select-option>
      <ion-select-option value="red">Sobrecalentamiento o funciona a alta temperatura</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Neumaticos</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Abultado o hinchado</ion-select-option>
      <ion-select-option value="blonde">Neumatico pinchado o fuga de aire</ion-select-option>
      <ion-select-option value="black">Mal inflado</ion-select-option>
      <ion-select-option value="red">La banda de rodamiento no es lo bastante profunda</ion-select-option>
      <ion-select-option value="red">Sueltas o mal instaladas</ion-select-option>
      <ion-select-option value="red">Faltan</ion-select-option>
      <ion-select-option value="red">Separacion de la banda de rodamiento o de la banda lateral</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Ruedas y llantas</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Torcidas, agrietadas o dañadas</ion-select-option>
      <ion-select-option value="blonde">Sellos del eje que gotean</ion-select-option>
      <ion-select-option value="black">Sueltas o mal instaladas</ion-select-option>
      <ion-select-option value="red">Faltan</ion-select-option>
      <ion-select-option value="red">Enmohecido o corroido</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Limpia para brisas</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="le">Rocio inadecuado</ion-select-option>
      <ion-select-option value="blonde">Limpieza inadecuada</ion-select-option>
      <ion-select-option value="black">Sueltas o mal instaladas</ion-select-option>
      <ion-select-option value="red">Faltan</ion-select-option>
      <ion-select-option value="red">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Otro</ion-label>
    <ion-input></ion-input>
  </ion-item>

  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-label>UBICACION DE LA INSPECCION</ion-label>
    </ion-item>
    <ion-item>
      <ion-input placeholder="DIRECCION"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-input placeholder="CIUDAD"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="ESTADO"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="PAIS"></ion-input>
    </ion-item>
  </ion-card>
  <br>
  <br>
  <ion-card>
    <ion-item>
      <ion-label>OBSERVACIONES</ion-label>
    </ion-item>
    <ion-item>
      <ion-input placeholder="AÑADIR COMENTARIO"></ion-input>
    </ion-item>  

  </ion-card>
  <br>
  <!-- <ion-button class="buttonEntero" color="danger">
    <ion-icon ></ion-icon>
    Reglas de tiempo
  </ion-button>
  <br> -->
  <ion-card>
    <ion-item>
      <ion-label>GUARDAR NUEVA INSPECCION</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Seleccione tipo de inspeccion</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="le">Precio al viaje</ion-select-option>
        <ion-select-option value="blonde">Durante al viaje</ion-select-option>
        <ion-select-option value="black">Posterior al viaje</ion-select-option>
      
      </ion-select>
    </ion-item>
    <ion-button class="buttonEntero" color="danger" (click)="EnviarCorre()">
      <ion-icon ></ion-icon>
      Enviar correo
    </ion-button>
  </ion-card>
 


</ion-content>
